In [1]:
import requests
import pandas as pd
from tqdm import tqdm

link = 'https://stock-pictures.netlify.app/'
df = pd.read_csv('imagedata.csv')
df.head()

,link,tags,likes,comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Atmosphere, Sky Sky, Blue Clouds,",196,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Hummingbird Bird, Ornithology,",76,20
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Rainfall, Rainbow, Subtropical Sea,",282,106
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Japan, Blossoms, Road, Sakura",42,11
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,15

In [2]:
link = df['link'][0]
res = requests.get(link)

In [3]:
fd = open('Img.png','wb')
fd.write(res.content)
fd.close()

In [4]:
path = []

for link in tqdm(df['link']):
    
    res = requests.get(link)
    
    fd = open('Imgs/'+link.split('/')[-1],'wb')
    fd.write(res.content)
    fd.close()
    
    path.append('Imgs/'+link.split('/')[-1])

100%|██████████████████████████████████████████████████████████████████████████████████| 48/48 [00:28<00:00,  1.67it/s]

In [5]:
df['path'] = path
df.head()

,link,tags,likes,comments,path
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Atmosphere, Sky Sky, Blue Clouds,",196,55,Imgs/clouds-7050884__480.jpg
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Hummingbird Bird, Ornithology,",76,20,Imgs/bird-7117346__340.jpg
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Rainfall, Rainbow, Subtropical Sea,",282,106,Imgs/sea-7039471__340.jpg
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Japan, Blossoms, Road, Sakura",42,11,Imgs/cherry-blossoms-7110279__340.jpg
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,15,Imgs/cape-marguerite-7121992__340.jpg

In [6]:
df.to_csv('Imgs.csv', index = False)