In [3]:
import os 
import pandas as pd
from tqdm import tqdm
from shutil import copyfile as copy

df = pd.read_csv('finalimages.csv')
df.head()

                                   tags                path
0     Clouds, Sky, Atmosphere, Blue Sky  Imgs/A00000000.jpg
1        Bird, Ornithology, Hummingbird  Imgs/A00000001.jpg
2   Sea, Rainbow, Rainfall, Subtropical  Imgs/A00000002.jpg
3  Cherry Blossoms, Road, Japan, Sakura  Imgs/A00000003.jpg
4        Cape Marguerite, Flower, Plant  Imgs/A00000004.jpg

In [11]:
for tag in tqdm(tags):
    
    try:
        os.mkdir('Dataset/' + tag)
    except:
        pass

100%|██████████████████████████████████████████████████████████████████████████| 64096/64096 [00:23<00:00, 2757.65it/s]

In [17]:

error = 0

for data in tqdm(df.values):
    
    tags = data[0]
    tags = ['Dataset/' + tag.strip() + '/']
    
    src = data[1]
    
    for i in tags:
        
        dst = i + src.split('/')[-1]
        
        try:
            copy(src, dst)
        except:
            error += 1

100%|████████████████████████████████████████████████████████████████████████| 205866/205866 [00:38<00:00, 5352.61it/s]

In [19]:
folders = os.listdir('Dataset')
print(len(folders))

63976

In [23]:
folder_ = []
freq    = []

for folder in tqdm(folders):
    
    try:
        freq.append(len(os.listdir('Dataset/' + folder)))
        folder_.append(folder)

    except:
        pass

0it [00:00, ?it/s]