In [3]:
import time
import pandas as pd
import numpy as np
from tqdm import tqdm
from bs4 import BeautifulSoup
from selenium import webdriver
import chromedriver_binary

In [5]:
df = pd.read_csv('videodata.csv')

In [7]:
df.head()

,title,views,date_time,video_link,thumbnail_link
0,Interview Experience @ Amazon | GeeksforGeeks,38 watching,NaN,/watch?v=SMgm_gpJyNU,https://i.ytimg.com/vi/SMgm_gpJyNU/hqdefault.jpg
1,Live Mock DSA,2.2K views,Streamed 1 day ago,/watch?v=mwqKJz7K03k,https://i.ytimg.com/vi/mwqKJz7K03k/hqdefault.jpg
2,Interview Experience at Google | Tech Dose,5.2K views,Streamed 4 days ago,/watch?v=V23iPYIQCvc,https://i.ytimg.com/vi/V23iPYIQCvc/hqdefault.jpg
3,Life Is Unfair Ft. Shonty badmash | LIVE Disco...,1.5K views,9 days ago,/watch?v=49MRLvZaG3s,https://i.ytimg.com/vi/49MRLvZaG3s/hqdefault.jpg
4,Journey from JIIT to Adobe,1K views,9 days ago,/watch?v=9CswKbEqj5A,https://i.ytimg.com/vi/9CswKbEqj5A/hqdefault.jpg

In [ ]:
browser = webdriver.Edge()
browser.get('https://www.youtube.com')
time.sleep(2)
data = []
for link in tqdm(df['video_link']):
    link = 'https://www.youtube.com'+link
    browser.get(link)
    time.sleep(5)
    soup = BeautifulSoup(browser.page_source,'html.parser')
    try:
        title = soup.find_all('yt-formatted-string',class_ = 'style-scope ytd-video-primary-info-renderer')[0].text
    except:
        title = np.nan
    try:
        view = soup.find('span',class_ = 'view-count style-scope ytd-video-view-count-renderer').text
    except:
        view = np.nan
    try:
        date_time = soup.find_all('yt-formatted-string', class_= 'style-scope ytd-video-primary-info-renderer')[1].text
    except:
        date_time = np.nan
    try:
        like = soup.find('yt-formatted-string', class_= 'style-scope ytd-toggle-button-renderer style-text').text
    except:
        like = np.nan
    try:
        description = soup.find('yt-formatted-string',class_ = 'content style-scope ytd-video-secondary-info-renderer').text
    except:
        description = np.nan
    data.append([title, date_time, like, view, link, description])

  1%|â–Œ                                                                             | 15/2105 [02:08<5:01:18,  8.65s/it]

In [ ]:
len(data)

In [ ]:
df = pd.DataFrame(data, columns = ['title', 'date_time', 'like', 'view', 'link', 'description'])

In [ ]:
df.isnull().sum()

In [ ]:
df.to_csv('GFG.csv', index = False)

In [ ]:
df